@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Salsa&display=swap');

* {
    font-family: roboto;
    margin: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    margin-right: calc(-1 * (100vw - 100%));
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 100vw;
}

#current-page {
    color: #d2601a;
}

.thumb {
    width: 300px;
}
