<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Sign-up</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/general.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>

<body>
  <header>
    <div class="logo">
      <img src="{{ url_for('static', filename='logo.png') }}" alt="logo">
    </div>
    <nav class="navigation">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/rent_cars">Rent Cars</a></li>
        <li><a href="/support">Support</a></li>
        <li><a href="/client_login">Client Login</a></li>
        <li><a href="/admin_login">Admin Login</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <div class="wrapper">
      <div class="center">
        <h2>Admin Sign-up</h2>
        <div class="error">
          <p>{% if error %} {{ error }} {% endif %}</p>
        </div>
        <form action="/signup/{{ origin }}" method="post">
          <div class="input-box">
            <input type="text" name="email" placeholder="Enter your email" {% if email %} value="{{ email }}" {% endif %} required>
          </div>
          <div class="input-box">
            <input type="password" name="password" placeholder="Enter password" required>
          </div>
          <div class="input-box">
            <input type="password" name="confirm_password" placeholder="Confirm password" required>
          </div>
          <div class="input-box button">
            <input type="hidden" name="user_type" value="client">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <input type="Submit" value="Sign Up Now">
          </div>
          <div class="text">
            <h3>Already have an account? <a href="/admin_login">Login</a></h3>
          </div>
        </form>
      </div>
    </div>
  </main>

  <footer>
    <p> copyright &copy; crs.com </p>
  </footer>
</body>

</html>
